<ion-view view-title="Ajouter">
    <ion-content>
        <form ng-submit="ajouterVin()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" ng-model="ajouterDonnees.nom" placeholder="Nom du vin" />
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="ajouterDonnees.appellation" placeholder="Appellation" />
                </label>
                <label class="item item-input">
                    <input type="number" ng-model="ajouterDonnees.millesime" placeholder="Millésime (année)" />
                </label>
                <ion-list>
                    <ion-radio ng-model="ajouterDonnees.couleur" value="'Blanc'">Blanc</ion-radio>
                    <ion-radio ng-model="ajouterDonnees.couleur" value="'Rosé'">Rosé</ion-radio>
                    <ion-radio ng-model="ajouterDonnees.couleur" value="'Rouge'">Rouge</ion-radio>
                </ion-list>
                <label class="item item-input">
                    <input type="text" ng-model="ajouterDonnees.viticulteur" placeholder="Viticulteur" />
                </label>
                <label class="item item-input item-select">
                    Note
                    <select ng-model="ajouterDonnees.note">
                        <option ng-value="1">1</option>
                        <option ng-value="2">2</option>
                        <option ng-value="3">3</option>
                        <option ng-value="4">4</option>
                        <option ng-value="5">5</option>
                    </select>
                </label>
                <label class="item item-input">
                     <input ng-change="onchange()" type="text" ng-model="ajouterDonnees.Tag[0]" placeholder="Tag" />
                </label>
                <label class="item item-input">
                    <input ng-change="onchange1()"class="not-displayed" id="ajouterDonnees.Tag[1]" type="text" ng-model="ajouterDonnees.Tag[1]" placeholder="Tag" />
                </label>
                <label class="item item-input">
                    <input class="not-displayed" id="ajouterDonnees.Tag[2]" type="text" ng-model="ajouterDonnees.Tag[2]" placeholder="Tag" />
                </label>
            </div>
            <button ion-button class="button button-block button-assertive" type="submit">Ajouter ce vin</button>
        </form>
    </ion-content>
</ion-view>

